<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/accesorios.css">
    <script src="https://kit.fontawesome.com/6145ad21c5.js"></script>
    <title>NeniStore</title>
</head>

<body style="margin: 0%;">
    <header>
        <div class="logo-img">
            <div>
                <img src="../static/img/logo.png" width="200" height="200" alt="Logo">
            </div>
            <div class="h1-principal">
                <h1 class="h1-1">Código de promoción - Envío GRATIS - <i class="fas fa-plane-departure"></i></h1>
                <h2 class="h1-1"> Nos vemos en punto medio <i class="fab fa-angellist"></i></h2>
            </div>
        </div>
        <div class="row div2_header">
            <div>
                <nav class="menu1 col-5">
                    <a href="./index.html">Mujer</a>
                    <a href="">Curvy + plus</a>
                    <a href="">Hombre</a>
                    <a href="">Niños</a>
                    <a href="">Maquillaje</a>
                </nav>
            </div>
            <div class="col-4 titulo">
                <p>NeniStore</p>
            </div>
            <div class="col-3 icons">
                <a href=""><i class="fas fa-user"></i></a>
                <a href=""><i class="fas fa-shopping-cart"></i></a>
                <a href=""><i class="far fa-heart"> 1</i></a>
                <a href=""><i class="fas fa-gifts"></i></a>
                <a href=""><i class="far fa-question-circle"></i></a>
                <a href=""><i class="fas fa-globe"></i></a>
            </div>
        </div>
        <div class="div3_header">
            <nav id="main-nav">
                <a href="./novedades.html">Novedades</a>
                <a href="">Vestidos</a>
                <a href="">Tops</a>
                <a href="">Bikinis</a>
                <a href="">Zapatos</a>
                <a href="./accesorios.html">Accesorios</a>
                <a href="">Hogar</a>
            </nav>
        </div>
    </header>
    <main>
        <div class="red">
            <div id="facebook"><a href="https://www.facebook.com/SHEINOFFICIAL" class="fa fa-facebook"></a></div>
            <div id="instagram"><a href="https://instagram.com/shein_mex?utm_medium=copy_link" class="fab fa-instagram"></a></div>
            <div id="twitter"><a href="https://twitter.com/SHEIN_official?s=09" class="fa fa-twitter"></a></div>
            <div id="correo"><a href="#" class="fa fa-envelope"></a></div>
        </div>

        <div class="hello-parent">

            <svg class="hello-word" width="365" height="365" viewBox="0 0 365 365">


                <g id="H-letter">
                    <line class="H-left-stroke" x1="17" y1="0" x2="17" y2="124" stroke="#000" fill="none"
                        stroke-width="34" />
                    <line class="H-mid-stroke" x1="33" y1="62" x2="68" y2="62" stroke="#000" fill="none"
                        stroke-width="34" />
                    <line class="H-right-stroke" x1="84" y1="0" x2="84" y2="124" stroke="#000" fill="none"
                        stroke-width="34" />
                </g>

                <g id="E-letter">
                    <line class="E-left-stroke" x1="138" y1="0" x2="138" y2="124" stroke="#000" fill="none"
                        stroke-width="34" />
                    <line class="E-top-stroke" x1="154" y1="17" x2="201" y2="17" stroke="#000" fill="none"
                        stroke-width="34" />
                    <line class="E-mid-stroke" x1="154" y1="62" x2="196" y2="62" stroke="#000" fill="none"
                        stroke-width="34" />
                    <line class="E-bottom-stroke" x1="154" y1="107" x2="201" y2="107" stroke="#000" fill="none"
                        stroke-width="34" />
                </g>

                <g id="L-one-letter">
                    <line class="L-one-long-stroke" x1="17" y1="153" x2="17" y2="277" stroke="#000" fill="none"
                        stroke-width="34" />
                    <line class="L-one-short-stroke" x1="33" y1="260" x2="77" y2="260" stroke="#000" fill="none"
                        stroke-width="34" />
                </g>

                <g id="L-two-letter">
                    <line class="L-two-long-stroke" x1="104" y1="153" x2="104" y2="277" stroke="#000" fill="none"
                        stroke-width="34" />
                    <line class="L-two-short-stroke" x1="120" y1="260" x2="164" y2="260" stroke="#000" fill="none"
                        stroke-width="34" />
                </g>

                <g id="O-letter">
                    <circle class="O-stroke" cx="231" cy="215" r="48" stroke="#000" fill="none" stroke-width="31" />
                </g>

                <g id="red-dot">

                    <line x1="325" y1="260" x2="325" y2="260" stroke="#cf556c" class="red-dot" />
                </g>
            </svg>
            <div class="title-principal">
                <p>Accesorios</p>
            </div>
        </div>
        <div class="container-ropa">
            <div class="container-ropa1">
                <img class="ropa" src="../static/img/accesorios/anillos.jpg" width="250" height="350" alt="">
                <p>Anillos de diseño de corazón</p>
                <p class="price">$MXN 45.00</p>
                <button class="boton" onclick="location.href='https://www.facebook.com/deli.nallely';">Contactar con la Neni</button>
            </div>
            <div>
                <img class="ropa" src="../static/img/accesorios/cinturones.jpg" width="250" height="350" alt="">
                <p>Cinturon con hebilla metálica</p>
                <p class="price">$MXN 144</p>
                <button class="boton" onclick="location.href='https://www.facebook.com/edith.jimpin';">Contactar con la Neni</button>
            </div>
            <div>
                <img class="ropa" src="../static/img/accesorios/gafas.jpg" width="250" height="350" alt="">
                <p>Gafas de sol de marco</p>
                <p class="price">$MXN 89</p>
                <button class="boton" onclick="location.href='https://www.facebook.com/Angel11990';">Contactar con la Neni</button>
            </div>
            <div>
                <img class="ropa" src="../static/img/accesorios/aretes.jpg" width="250" height="350" alt="">
                <p>Pendientes de oro</p>
                <p class="price">$MXN 49</p>
                <button class="boton" onclick="location.href='https://www.facebook.com/deli.nallely';">Contactar con la Neni</button>
            </div>
        </div>
        <div class="container-ropa">
            <div class="container-ropa1">
                <img class="ropa" src="../static/img/accesorios/calcetines.jpg" width="250" height="350" alt="">
                <p>Calcetines tobilleros</p>
                <p class="price">$MXN 107</p>
                <button class="boton" onclick="location.href='https://www.facebook.com/Angel11990';"">Contactar con la Neni</button>
            </div>
            <div>
                <img class="ropa" src="../static/img/accesorios/gomas.jpg" width="250" height="350" alt="">
                <p>Gomas de pelo</p>
                <p class="price">$MXN 70</p>
                <button class="boton" onclick="location.href='https://www.facebook.com/edith.jimpin';">Contactar con la Neni</button>
            </div>
            <div>
                <img class="ropa" src="../static/img/accesorios/perla.jpg" width="250" height="350" alt="">
                <p>Collar con perla artificial</p>
                <p class="price">$MXN 65</p>
                <button class="boton" onclick="location.href='https://www.facebook.com/deli.nallely';">Contactar con la Neni</button>
            </div>
            <div>
                <img class="ropa" src="../static/img/accesorios/gargantilla.jpg" width="250" height="350" alt="">
                <p>Gargantilla con diseño de perla</p>
                <p class="price">$MXN 67</p>
                <button class="boton" onclick="location.href='https://www.facebook.com/Angel11990';">Contactar con la Neni</button>
            </div>
        </div>
        <div class="container-ropa">
            <div class="container-ropa1">
                <img class="ropa" src="../static/img/accesorios/gorra.jpg" width="250" height="350" alt="">
                <p>Gorro béisbol</p>
                <p class="price">$MXN 88</p>
                <button class="boton" onclick="location.href='https://www.facebook.com/deli.nallely';">Contactar con la Neni</button>
            </div>
            <div>
                <img class="ropa" src="../static/img/accesorios/bolso.jpg" width="250" height="350" alt="">
                <p>Bolso círculo de paja</p>
                <p class="price">$MXN 162</p>
                <button class="boton" onclick="location.href='https://www.facebook.com/edith.jimpin';">Contactar con la Neni</button>
            </div>
            <div>
                <img class="ropa" src="../static/img/accesorios/sombrero.jpg" width="250" height="350" alt="">
                <p>Sombrero cubo simple</p>
                <p class="price">$MXN 56</p>
                <button class="boton" onclick="location.href='https://www.facebook.com/deli.nallely';">Contactar con la Neni</button>
            </div>
            <div>
                <img class="ropa" src="../static/img/accesorios/pañuelo.jpg" width="250" height="350" alt="">
                <p>Pañuelo con patrón de paisley</p>
                <p class="price">$MXN 50</p>
                <button class="boton" onclick="location.href='https://www.facebook.com/Angel11990';">Contactar con la Neni</button>
            </div>
        </div>
    </main>
    <footer>
        <div class="grid_footer">
            <div>
                <h2>NeniStore</h2>
                <h3 class="h3-footer-1">Contactos</h3>
                <p>Delia Nallely De Lira Bernal</p>
                <p>Angel Yair Chavez Garcia</p>
                <p>Edith Jimenez Pineda</p>
                <p>De lunes a viernes de 9:00am a 6:00pm</p>
            </div>
            <div>
                <h2> Más información</h2>
                <p>
                    Blog<br>
                    <br>
                    Estatus de tu orden<br>
                    Cambios y Devolución<br>
                    Politicas de Envio<br>
                    Facturación<br>
                    ¿Tienes Quejas?<br>
                    <br>
                    Aviso de Privacidad<br>
                    <br>
                    NeniStore Nos vemos en el punto medio<br>
                    Trabajo repartidor<br>
                </p>
            </div>
            <div>
                <h2> Formas de pago</h2>
                <i class="fab fa-paypal icon"></i>
                <i class="fas fa-credit-card icon"></i>
                <i class="fas fa-store icon"></i>
                <i class="fas fa-money-bill icon"></i>
                <p>
                    Preguntas Frecuentes<br>
                    Guía de Tallas<br>
                    Nenis Cerca de ti<br><br>
                    Términos y condiciones
                </p>
                <i class="fab fa-facebook-square icon"></i>
                <i class="fab fa-instagram icon"></i>
                <i class="fab fa-tiktok icon"></i>
                <i class="fab fa-whatsapp icon"></i>
            </div>
            <div>
                <h2>Quieres mas información sobre descuentos y productos</h2>
                <button class="button1"> Suscribete Neni </button>
            </div>
        </div>
    </footer>
</body>

</html>