<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/novedades.css">
    <script src="https://kit.fontawesome.com/6145ad21c5.js"></script>
    <script src="../static/js/styles.js"></script>
    <title>NeniStore</title>
</head>

<body style="margin: 0%;">
    <header>
        <div class="logo-img">
            <div>
                <img src="../static/img/logo.png" width="200" height="200" alt="Logo">
            </div>
            <div class="h1-principal">
                <h1 class="h1-1">Código de promoción - Envío GRATIS - <i class="fas fa-plane-departure"></i></h1>
                <h2 class="h1-1"> Nos vemos en punto medio <i class="fab fa-angellist"></i></h2>
            </div>
        </div>
        <div class="row div2_header">
            <div>
                <nav class="menu1 col-5">
                    <a href="">Mujer</a>
                    <a href="">Curvy + plus</a>
                    <a href="">Hombre</a>
                    <a href="">Niños</a>
                    <a href="">Maquillaje</a>
                </nav>
            </div>
            <div class="col-4 titulo">
                <p>NeniStore</p>
            </div>
            <div class="col-3 icons">
                <a href=""><i class="fas fa-user"></i></a>
                <a href=""><i class="fas fa-shopping-cart"></i></a>
                <a href=""><i class="far fa-heart"> 1</i></a>
                <a href=""><i class="fas fa-gifts"></i></a>
                <a href=""><i class="far fa-question-circle"></i></a>
                <a href=""><i class="fas fa-globe"></i></a>
            </div>
        </div>
        <div class="div3_header">
            <nav>
                <a href="./novedades.html">Novedades</a>
                <a href="">Vestidos</a>
                <a href="">Tops</a>
                <a href="">Bikinis</a>
                <a href="">Zapatos</a>
                <a href="./accesorios.html">Accesorios</a>
                <a href="">Hogar</a>
            </nav>
        </div>
    </header>
    <main>
        <div class="red">
            <div id="facebook"><a href="https://www.facebook.com/SHEINOFFICIAL" class="fa fa-facebook"></a></div>
            <div id="instagram"><a href="https://instagram.com/shein_mex?utm_medium=copy_link" class="fab fa-instagram"></a></div>
            <div id="twitter"><a href="https://twitter.com/SHEIN_official?s=09" class="fa fa-twitter"></a></div>
            <div id="correo"><a href="#" class="fa fa-envelope"></a></div>
        </div>
        <div class="canva">
            <canvas  width="776" height="300" id="lienzo">

            </canvas>
        </div>
    
            <div class="container-video">
                <iframe src="https://www.youtube.com/embed/B_iu5sEXDw0"
                    title="YouTube video player"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
    
            <div class="container-ropa">
                <div class="container-ropa1">
                    <img class="ropa" src="../static/img/ropa1.jpg" width="250" height="350" alt="">
                    <p>Short de mezclilla</p>
                    <p class="price">$MXN 100</p>
                    <button class="boton" onclick="location.href='https://www.facebook.com/deli.nallely';">Contactar con la Neni</button>
                </div>
                <div>
                    <img class="ropa" src="../static/img/top.jpg" width="250" height="350" alt="">
                    <p>Top corto</p>
                    <p class="price">$MXN 211</p>
                    <button class="boton" onclick="location.href='https://www.facebook.com/edith.jimpin';">Contactar con la Neni</button>
                </div>
                <div>
                    <img class="ropa" src="../static/img/camison.jpg" width="250" height="350" alt="">
                    <p>Camison largo</p>
                    <p class="price">$MXN 350</p>
                    <button class="boton" onclick="location.href='https://www.facebook.com/Angel11990';">Contactar con la Neni</button>
                </div>
                <div>
                    <img class="ropa" src="../static/img/ropa4.jpg" width="250" height="350" alt="">
                    <p>Blusa azul marino</p>
                    <p class="price">$MXN 156</p>
                    <button class="boton" onclick="location.href='https://www.facebook.com/deli.nallely';">Contactar con la Neni</button>
                </div>
            </div>
    </main>
    <footer>
        <div class="grid_footer">
            <div>
                <h2>NeniStore</h2>
                <h3 class="h3-footer-1">Contactos</h3>
                <p>Delia Nallely De Lira Bernal</p>
                <p>Angel Yair Chavez Garcia</p>
                <p>Edith Jimenez Pineda</p>
                <p>De lunes a viernes de 9:00am a 6:00pm</p>
            </div>
            <div>
                <h2> Más información</h2>
                <p>
                    Blog<br>
                    <br>
                    Estatus de tu orden<br>
                    Cambios y Devolución<br>
                    Politicas de Envio<br>
                    Facturación<br>
                    ¿Tienes Quejas?<br>
                    <br>
                    Aviso de Privacidad<br>
                    <br>
                    NeniStore Nos vemos en el punto medio<br>
                    Trabajo repartidor<br>
                </p>
            </div>
            <div>
                <h2> Formas de pago</h2>
                <i class="fab fa-paypal icon"></i>
                <i class="fas fa-credit-card icon"></i>
                <i class="fas fa-store icon"></i>
                <i class="fas fa-money-bill icon"></i>
                <p>
                    Preguntas Frecuentes<br>
                    Guía de Tallas<br>
                    Nenis Cerca de ti<br><br>
                    Términos y condiciones
                </p>
                <i class="fab fa-facebook-square icon"></i>
                <i class="fab fa-instagram icon"></i>
                <i class="fab fa-tiktok icon"></i>
                <i class="fab fa-whatsapp icon"></i>
            </div>
            <div>
                <h2>Quieres mas información sobre descuentos y productos</h2>
                <button class="button1"> Suscribete Neni </button>
            </div>
        </div>
    </footer>
</body>
</html>